Match Group jail
    AuthorizedKeysCommand /etc/ssh/gate/akc.sh
    AuthorizedKeysCommandUser devops
    ChrootDirectory /var/jail

Match User devel,paddle
    AllowStreamLocalForwarding local
    AllowTcpForwarding local

Match Group sftp,projs
    AllowTcpForwarding yes
    PermitOpen sftp:22

Match Group projs
    X11Forwarding no
    PermitTTY no
