
PasswordAuthentication no
AllowAgentForwarding yes
AllowTcpForwarding no
X11Forwarding no

Match Group jail
    ChrootDirectory /home/jail

Match Group crews
    AuthorizedKeysCommand /var/gate/auth.sh
    AuthorizedKeysCommandUser devops

Match Group sftp
    AllowTcpForwarding yes
    PermitOpen sftp:22
