Host sftp
    User sftp
    ProxyJump user.sftp@w.cloudbrain.cc

Host *.cloudbrain.cc
    ForwardAgent yes

Host *
    UseKeychain yes
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 30
    ServerAliveCountMax 5
