Host *
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 30
    ServerAliveCountMax 5

Host *.figroc.me
    ForwardAgent yes

Host sftp
    User sftp
    ProxyCommand ssh -W %h:%p chenp.sftp@w.figroc.me 
