Host sftp
    User sftp
    ProxyJump chenp.sftp@w.figroc.me

Host *.figroc.me
    ForwardAgent yes

Host *
    IdentityFile ~/.ssh/id_rsa
    AddKeysToAgent yes
    UseKeychain yes
    ServerAliveInterval 30
    ServerAliveCountMax 5
