
Match Group jail
    AuthorizedKeysCommand /etc/ssh/gate/akc.sh
    AuthorizedKeysCommandUser devops
    ChrootDirectory /var/jail

Match Group projs
    PermitTTY no
    X11Forwarding no
Match Group sftp,projs
    PermitOpen sftp:22

Match Group crews
    AllowStreamLocalForwarding yes
    AllowTcpForwarding yes

Match Group editor
    PermitOpen localhost:5000

Match Group monitor
    PermitOpen localhost:3000 localhost:9000
