
Subsystem sftp internal-sftp

PasswordAuthentication no
AllowAgentForwarding no
AllowTcpForwarding no

Match Group jail
    AuthorizedKeysCommand /etc/ssh/gate/akc.sh
    AuthorizedKeysCommandUser devops

Match Group sftp
    ChrootDirectory /var/jail/data
    ForceCommand internal-sftp -d /

Match Group greennet
    ChrootDirectory /var/jail/data/projs/greennet
    ForceCommand internal-sftp -d /

Match Group easyops
    ChrootDirectory /var/jail/data/projs/easyops
    ForceCommand internal-sftp -d /
