Subsystem sftp internal-sftp

Match Group jail
    AuthorizedKeysCommand /etc/ssh/gate/akc.sh
    AuthorizedKeysCommandUser devops

Match Group sftp
    ChrootDirectory /var/jail
    ForceCommand internal-sftp -d /data

Match Group projs
    ChrootDirectory /var/jail/home/%u
    ForceCommand internal-sftp -d /data
