
Subsystem sftp internal-sftp

PasswordAuthentication no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no

Match Group jail
    ChrootDirectory /var/jail

Match Group sftp
    AuthorizedKeysCommand /etc/ssh/gate/akc-sys.sh
    AuthorizedKeysCommandUser devops
    ForceCommand internal-sftp -d /files
